.perenet{
    background-color: red;
    display: grid;
    grid-template-columns: repeat(3.1fr);
    grid-template-rows: repeat(4,100px);
gap: 10px;

}
.perenet div{

    background-color: gold;
}
.header, .footer{
    grid-column: 1/-1;
}
.nav,.main,.sidebar{
    grid-row: 2/4;
}
/*طريقة تانية*/
.perenet{
    background-color: red;
    display: grid;
    grid-template-areas:
"header header header"
"nav main sidebar"
"nav main sidebar"
"footer footer footer";
    grid-template-columns: repeat(3.1fr);
    grid-template-rows: repeat(4,100px);
gap: 10px

}
    


.perenet div{

    background-color: gold;
}
.header{
    grid-area: header;

}

.nav{
    grid-area: nav;
}
.main{
    grid-area: main;
}
.sidebar{
    grid-area: sidebar;
}
.footer{
    grid-area:footer;
}