p{
    font-style: italic;

font-variant: small-caps; /*حجم الحروف*/

font-weight: 600;  /* وزن الخط*/

font-size:large ;   /*حجم الخط*/

font-family: sans-serif;  /*شكل الخط*/  /* اذا حطينا اكتر من خط رح ياخد الاول بعدين التاني*/

line-height: 2px;  /*البعد بين الاسطر*/

/**
لا يظهر التاثير على كل الخطوط
font-weihgt:
100=>thin
200=>semi light
300=>light
400=>nurmal
500=>medium
600=>semi bold
700=>bold
800=>ultra buld
900=>black
*/
/*يمكننا ان نختصر كل المراحل السايقة بــ*/
}

div{
    font:italic small-caps bolder large sans-serif ;
    /*
    لازم يكونوا على الترتيب
    font:font-style font-variant front-weihgt front-size/line-height front-family;
    */

}