/*@media مقاس العرض {
    code css
}*/
.perent{
    display: grid;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.item{
    background-color: red;
    height: 200px;
    width: 150px;
}
@media(max-width:600px){
.perent{
    flex-direction: column;
}
.item{
    width: 100%;
}

}
@media(min-width:601px) and (max-width:992px){
.perent{
    flex-wrap:wrap;
}
.item{
    width: 49%;
}
}
/*
 Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...}