.a{
height:80px;
width: 80px;
background-color: blue;
transition: 1s ease 4s; /* عن طريقها بتم التحويل ويمكننا ات ت=نختار اي خاصية تريد تحويلها*/
/*   
ease:التئخير اي انه نضع الماوس على الكلمة وينتظر الوقت الذي وضعته ليتحول
*/
}
.a:hover{ /*الخضصائص بعد التحويل*/
    width: 100%;
    height: 400px;
    background-color: red;
}
.b{

    height:80px;
    width: 80px;
    background-color: blue;
transition: all 3s ease-in-out;       /*ease- يحدد تأثير انتقال ببداية بطيئة، ثم سريع، ثم ينتهي ببطء (هذا هو الافتراضي)
                              linear- يحدد تأثير انتقال بنفس السرعة من البداية إلى النهاية
                              ease-in- يحدد تأثير انتقالي ببداية بطيئة
                              ease-out- يحدد تأثير انتقال بنهاية بطيئة
                              ease-in-out- يحدد تأثير انتقالي ببداية ونهاية بطيئة
                              cubic-bezier(n,n,n,n)- يتيح لك تحديد قيمك الخاصة في دالة cube-bezier*/ 
}
.b:hover{
width: 100%;


}